.word-game-container {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.game-title {
  color: #333;
}

.game-info {
  margin-bottom: 20px;
}

.info {
  font-size: 18px;
  margin: 5px 0;
}

.word{
    font-size:30px;
    margin: 5px 0;
}

.word-input {
  background: #ffffff;
  height: 70px;
  width: 300px; /* Adjust width as needed */
  border: 2px solid black; /* Border should be solid, not string */
  padding: 0 10px; /* Add padding to input */
  margin-right: 10px; /* Add some spacing between input and button */
}

.submit-button {
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.get-word-button {
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.game-over {
  margin-top: 20px;
}

.restart-button {
  padding: 8px 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.past-word {
  color: blue;
}

.input-container {
  margin-bottom: 10px; /* Add margin bottom to create space between input and button */
}

.button-container {
  margin-top: 10px; /* Add margin top to create space between input and button */
}

.word strong {
    font-weight: bold;
    color: blue;
  }
  
  .start-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }
  
  .start-message .message-content {
    text-align: center;
  }
  
  .start-message button.close-button {
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .start-message button.close-button:hover {
    background-color: #0056b3;
  }
  